<template>
  <div class="title">
    <h1>Connect to Flask API</h1>
    <h2>Topics</h2>
  </div>

  <div class="topic" v-if="Object.keys(topics).length > 0"> 
    <div v-for="(key_id, id) in topics" :key="key_id">
      <p>Id : <em>{{id}}</em> </p>
      <p>Title : <strong>{{key_id.titre}}</strong></p>
      <p>Author : <strong>{{key_id.auteur}}</strong></p>
      <p v-if="key_id.description">Description : {{key_id.description}} </p>
      <p>Link : <a :href="key_id.lien">{{key_id.lien}}</a></p>
      <div v-if="key_id.liste_de_tags">
        <p>Tags : </p>
        <div v-for="tag in key_id.liste_de_tags" :key="tag"> 
          <ul>
            <li>{{tag}}</li>
          </ul>
        </div>
      </div>
      <div class="buttons">
        <button v-on:click="delete_topic(id)" type="submit">Delete</button>

      </div>
      <hr>
    </div>
  </div>
  <p v-else class="topic"> No topics found </p>
    
</template>

<script>
export default {
    name: 'displayAll',
    data: function(){
      return{
        name:"Topics",
        topics: {}
      }
    },
  mounted(){
    const axios = require('axios');
    axios.get('http://127.0.0.1:5000/api/v1/topics')
      .then(response => (this.topics = response.data))
  },
  methods: {
        delete_topic(id){
            const axios = require('axios');
            const url = `http://127.0.0.1:5000/api/v1/topics/${id}`
            axios.delete(url)
                .then(function( response ){
                    console.log(response)
                }.bind(this));
        }
    }
}
</script>

<style>
  .topic{
    margin: 50px;
  }
  p, ul, li{
    text-align: left;
  }
  body{
    background-color: azure;
  }
  .title{
    border: solid black 1px;
    background-color: rgb(150, 204, 206, 0.55);
    box-shadow: 9px 9px 14px 9px rgba(190, 78, 101, 0.4);
    margin : 20px;
  }
  .add{
    margin: 20px;
  }
</style>