<template>
    <h1>Create a new topic</h1>

    <div class="form">
        <label for="title">Title</label>
        <input name="title" type="text" placeholder="Enter your presentation's title" v-model="data.titre" required/>

        <label for="author">Author</label>
        <input name="author" type="text" placeholder="Enter your presentation's author" v-model="data.auteur" required/>

        <label for="description">Description</label>
        <textarea name="description" type="text" placeholder="Enter your presentation's description (optional)" v-model="data.description"/>

        <label for="link">Link</label>
        <input name="link" type="text" placeholder="Enter your presentation's link" v-model="data.lien" required/>

        <label for="list_of_tags">List of tags</label>
        <input name="list_of_tags" type="text" placeholder="A list of tags separated by commas (optional)" v-model="data.liste_de_tags" />

        <button v-on:click="submit()" type="submit">Submit</button>
    </div>
    
</template>

<script>
export default {
    name:'newTopic',
    data : function(){
      return{
        name:"Data",
        data: {}
      }
    },
    methods: {
        submit(){
            const axios = require('axios');
            axios.post('http://127.0.0.1:5000/api/v1/topics', this.data)
                .then(function( response ){
                    console.log(response)
                }.bind(this));
        }
    }
}
</script>

<style scoped>
    .form{
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: auto;
    }
    .form > *{
        margin: 8px;
    }
</style>